extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen 1", class="img-fluid")

            .col-md-7
                h1 #{Pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris purus ante, condimentum eget dapibus et, pharetra sagittis purus. Aenean non quam a metus accumsan pharetra. Vivamus sem massa, viverra eget luctus vitae, posuere nec mauris. Vestibulum fringilla mi et massa dignissim, eu tempus dui rutrum. Duis efficitur interdum felis. In gravida tristique velit, sit amet vulputate tortor pretium sit amet. Aenean sed sollicitudin purus. Maecenas volutpat nisl et mauris ultricies rutrum. Vivamus at tempus tellus
                p Sed id interdum nunc, gravida ornare mi. Nunc vel lacus neque. Nullam pretium tempor dolor in cursus. Pellentesque faucibus erat erat, quis laoreet sem convallis porttitor. Nam non neque pellentesque, tincidunt arcu eget, dignissim leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum velit ut efficitur tempus. Fusce faucibus quis dui sit amet commodo. Proin sagittis placerat sagittis. Aenean pellentesque blandit turpis, ac malesuada dolor consectetur eu. Quisque in risus accumsan nibh porta scelerisque nec a erat.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p orem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p orem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 LosMejores Precios
                    p orem ipsum dolor sit amet, consectetur adipiscing elit.